:root {
  /*colours*/
  --color-text: #fff;
  --color-primary: #505285;
  --color-secondary: #585e92;
  --color-dark: #1f0027;
  --color-bg: #24002d;
  /*fonts*/
  --font-roboto: "Roboto";
}

/* Defined properties for font and colors in one place for the entire project as variables */
