@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}
.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}
/* How the website should look like on smaller screens?*/
@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }
  .menuBtn {
    display: block;
    cursor: pointer;
  }
  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: linear-gradient(
      to top,
      #505285 0%,
      #585e92 12%,
      #65689f 25%,
      #7474b0 37%,
      #7e7ebb 50%,
      #8389c7 62%,
      #9795d4 75%,
      #a2a1dc 87%,
      #b5aee4 100%
    );

    /* add a backgournd gradiant later */

    padding: 14px 33px;
    /*add box shadow */
  }
  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
